asgiref==3.9.1
certifi==2024.2.2
cloudinary==1.44.1
dj-database-url==3.0.1
Django==5.0.2
django-cloudinary-storage==0.3.0
gunicorn==21.2.0
Pillow==10.2.0
psycopg2-binary==2.9.9
qrcode==7.4.2
requests==2.31.0
sqlparse==0.4.4
urllib3==2.2.1
whitenoise==6.6.0